.main-content {
    display: flex;
    flex-direction: row;
}

#left-col {
    background-color: aliceblue;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    flex: 0 0 10%;
    min-width: 200px;
    border-top: 1px solid black;
}

#middle-col {
    background-color: #F8F8F8;
    overflow: scroll;
    height: 100%;
    flex: 1 1 45%;
    border-top: 1px solid black;
}

#right-col {
    background-color: white;
    overflow: scroll;
    height: 100%;
    flex: 1 1 45%;
    border-top: 1px solid black;
}

/* Left Column Styling */
.playlist {
    border-left: 6px solid white;
    border-right: 6px solid white;
    padding: 6px 6px;
    background-color: white;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.playlist.selected {
    border-color: #5f3596;
    background-color: #EEEEEE;
    color: #000000;
}


.playlist:hover:not(.selected) {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    color: #000000;
}

/* Middle + Right Column Styling */
.track {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #999999;
    margin: 0 16px;
}

.track-container {
    display: flex;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #999999;
    margin: 0 16px;
}

.track-name {
    flex: 1 1 40%;
}

.track-artist {
    flex: 1 1 30%
}

.track-album {
    flex: 1 1 30%
}

/* Middle Column Styling */
.middle-col-header {
    display: flex;
    height: 40px;
    margin: 0 16px;
    border-bottom: 1px solid #999999;
    line-height: 40px;
    font-size: 20px;
    color: #000000;
}

.mch-title {
    flex: 1 1 40%;
}

.mch-artist {
    flex: 1 1 30%;
}

.mch-album {
    flex: 1 1 30%;
}

#middle-col .track {
    background-color: #F8F8F8;
}

/* Right Column Styling */

#right-col {
    background-color: white;
}

.icon-container {
    position: absolute;
    right: 10px;
    top: 5px;
}

.track-icon {
    height: 20px;
    width: 20px;
    border-radius: 140px;
}

.rt-container {
    display: flex;
    height: 150px;
    line-height: 150px;
    border-bottom: 1px solid #999999;
    margin-left: 10px;
    margin-right: 10px;
}

.rt-album-img {
    flex: 0 0 140px;
    height: 140px;
    background-position: center;
    background-size: cover;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.rt-artist-container {
    flex: 1 1;
}

.rt-artist-text {
    font-weight: bold;
}

.rt-artist {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    position: relative;
}

.rt-track {
    height: 40px;
    line-height: 40px;
    position: relative;
}

.rt-track-1 {
    border-bottom: 1px solid #999999;
}

/* Dragula Styling */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    padding: 1em;
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.gu-mirror {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
