.main-content {
    display: flex;
    flex-direction: row;
}

#left-col {
    background-color: aliceblue;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    flex: 0 0 10%;
    min-width: 200px;
    border-top: 1px solid black;
}

#middle-col {
    background-color: beige;
    overflow: scroll;
    height: 100%;
    flex: 1 1 45%;
}

#right-col {
    background-color: #3A7734;
    overflow: scroll;
    height: 100%;
    flex: 1 1 45%;
}

/* Left Column Styling */
.playlist {
    border-left: 6px solid white;
    border-right: 6px solid white;
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.playlist.selected {
    border-color: #5f3596;
    background-color: #EEEEEE;
}


.playlist:hover:not(.selected) {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}

/* Right Column Styling */
.track {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    background-color: gray;
    border: 1px solid black;
}

.icon-container {
    position: absolute;
    right: 10px;
    top: 5px;
}

.track-icon {
    height: 20px;
    width: 20px;
    border-radius: 140px;
}

/* Dragula Styling */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    padding: 1em;
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.gu-mirror {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
