/*!  - v - 2017-07-27 */.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column
}

.header {
    height: 60px;
    line-height: 60px;
    background-color: #5f3596;
    border-bottom: 1px solid black;
}

#header-icon {
    position: absolute;
    left: 20px;
    height: 50px;
    top: 5px;
}

.header-link-container {
    position: absolute;
    right: 10px;
    width: 288px;
    display: flex;
    flex-direction: row;
}

.header-link-container-left {
    position: absolute;
    left: 10px;
}

.header-link {
    display: inline-block;
    text-align: center;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    width: 60px;
    padding: 6px;
}

.header-link-item {
    display: inline-block;
    height: 100%;
    width: 72px;
}

.header-selected {
    background-color: #8863BD;
}

.header-link:hover {
    font-size: 16px;
    cursor: pointer;
}


.main-content {
    flex: 1;
    width: 100vw;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #4B4B4B;
    overflow-y: hidden;
}
.genre-tag {
    border: 1px solid;
    border-radius: 25px;
    color: #ffffff;
    display: inline-block;
    height: 20px;
    padding: 2px 10px 2px 10px;

}

.singer-songwriter {
    background-color: #4b0082;
	border-color: #4b0082;
}

.jazz {
    background-color: #48308b;
	border-color: #48308b;
}

.classical {
    background-color: #7b68ee;
	border-color: #7b68ee;
}

.electronic {
    background-color: #008b8b;
	border-color: #008b8b;
}

.chill {
    background-color: #afeeee;
	border-color: #afeeee;
    color: #000000;
}

.folk {
    background-color: #7fffd4;
	border-color: #7fffd4;
    color: #000000;
}

.funk {
    background-color: #006400;
	border-color: #006400;
}

.world {
    background-color: #bdb76b;
	border-color: #bdb76b;
}

.hiphop {
    background-color: #daa520;
	border-color: #daa520;
}

.americana {
    background-color: #ff8c00;
	border-color: #ff8c00;
}

.garage {
    background-color: #ff4500;
	border-color: #ff4500;
}

.reggae {
    background-color: #e9967a;
	border-color: #e9967a;
}

.rock {
    background-color: #dc143c;
	border-color: #dc143c;
}

.rnb {
    background-color: #b22222;
	border-color: #b22222;
}

.pop {
    background-color: #f08080;
	border-color: #f08080;
}

.heavy {
    background-color: #8b4513;
	border-color: #8b4513;
}

.experimental {
    background-color: #000000;
	border-color: #000000;
}

.unclassified {
    background-color: #ffffff;
	border-color: #000000;
	color: #000000;
}
.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #25172D;
    overflow-y: scroll;
}

.playlist-link {
    text-decoration: none;
}

.playlist-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 200px;
    height: 230px;
    margin: 20px;
    background-color: #000000;
    transition: all 0.5s ease;
}

.playlist-container:hover {
    width: 210px;
    height: 240px;
    margin: 15px;
}

/* Playlist image and overlay holder */
.playlist-img-holder {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #000000;
    transition: all 0.5s ease;
}

.playlist-container:hover .playlist-img-holder {
    width: 210px;
    height: 210px;
}

/* Playlist image */
.playlist-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
}

.playlist-container:hover .playlist-img {
    opacity: 0.2;
}

/* Playlist overlay */
.playlist-overlay {
    position: absolute;
    width: 190px;
    padding: 5px;
    opacity: 0.0;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: top 0.5s ease, opacity 0.5s ease, margin-left 0.5s ease;
}

.playlist-container:hover .playlist-overlay {
    margin-left: 5px;
    margin-right: 5px;
    opacity: 1.0;
}

.playlist-overlay-name {
    height: 30px;
    top: 1px;
    font-size: large;
    text-align: center;
}

.playlist-container:hover .playlist-overlay-name {
    top: 30px;
}

.playlist-overlay-owner {
    height: 30px;
    top: 1px;
    text-align: center;
}

.playlist-container:hover .playlist-overlay-owner {
    top: 75px;
}

.playlist-overlay-a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 25px;
    top: 1px;
}

.playlist-container:hover .playlist-overlay-a {
    top: 125px;
}

.playlist-overlay-b {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 25px;
    top: 1px;
}

.playlist-container:hover .playlist-overlay-b {
    top: 160px;
}

.overlay-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90px;
    height: 25px;
}

.overlay-container-icon {
    height: 15px;
    width: 15px;
    margin: 5px 8px 5px 5px;
    background-size: cover;
    background-position: center;
}

.overlay-container-text {
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
}

#overlay-tracks {
    background-image: url('../images/track_icon.png');
}

#overlay-followers {
    background-image: url('../images/figure_icon.png');
}

#overlay-duration {
    background-image: url('../images/clock_icon.png');
}

/* Playlist footer */
.playlist-footer {
    width: 190px;
    height: 20px;
    padding: 5px;
    background-color: #25172D;
    color: #EEEEEE;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease;
}

.playlist-container:hover .playlist-footer {
    width: 190px;
    padding-right: 15px;
}
body {
    margin: 0;
}
.slider-container {
  position: relative;
  background-color: #5f3596;
}

.slider-left {
  width:1%;
  background-color: #CFC2DF;
  transition: height .2s ease;
}

.slider-right {
  width: 99%;
  background-color: #FFFFFF;
    transition: height .2s ease;

}

.slider-thumb {
  width: 10px;
  height: 10px;
  background-color: orange;
  left: 1%;
  transition: height .2s ease, width .2s ease;
}

.slider-thumb.hovering {
  width: 16px;
  height: 16px;

}

.slider-left-constants {
  position: absolute;
  left:0;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-left.hovering {
  height: 16px;
}

.slider-thumb-constants {
  position: absolute;
  z-index: 4;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  top: 50%;
}

.slider-right-constants {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.slider-right.hovering {
  height: 16px;
}



