.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column
}

.header {
    height: 60px;
    line-height: 60px;
    background-color: #5f3596;
    border-bottom: 1px solid black;
}

#header-icon {
    position: absolute;
    left: 20px;
    height: 50px;
    top: 5px;
}

.header-link-container {
    position: absolute;
    right: 10px;
    width: 288px;
    display: flex;
    flex-direction: row;
}

.header-link-container-left {
    position: absolute;
    left: 10px;
}

.header-link {
    display: inline-block;
    text-align: center;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    width: 60px;
    padding: 6px;
}

.header-link-item {
    display: inline-block;
    height: 100%;
    width: 72px;
}

.header-selected {
    background-color: #8863BD;
}

.header-link:hover {
    font-size: 16px;
    cursor: pointer;
}


.main-content {
    flex: 1;
    width: 100vw;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #4B4B4B;
    overflow-y: hidden;
}