.main-content {
    display: flex;
    flex-direction: row;
}

#left-col {
    background-color: aliceblue;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    flex: 0 0 10%;
    min-width: 200px;
    border-top: 1px solid black;
}

#middle-col {
    background-color: #F8F8F8;
    overflow: scroll;
    height: 100%;
    flex: 1 1 45%;
    border-top: 1px solid black;
}

#right-col {
    background-color: white;
    overflow: scroll;
    height: 100%;
    flex: 1 1 45%;
    border-top: 1px solid black;
}

/* Left Column Styling */
.playlist {
    border-left: 6px solid white;
    border-right: 6px solid white;
    padding: 6px 6px;
    background-color: white;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.playlist.selected {
    border-color: #5f3596;
    background-color: #EEEEEE;
    color: #000000;
}


.playlist:hover:not(.selected) {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    color: #000000;
}

/* Middle + Right Column Styling */
.track {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #999999;
    margin: 0 16px;
}

#middle-col .rt-track,
.track-container {
    display: flex;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #999999;
    margin: 0 16px;
}

#middle-col .rt-track:hover,
.track-container:hover {
    cursor: default;
    background-color: #EFEAF4;
}

/* Middle Column Styling */
.middle-col-header {
    display: flex;
    height: 40px;
    margin: 0 16px;
    border-bottom: 1px solid #999999;
    line-height: 40px;
    font-size: 20px;
    color: #000000;
}

#middle-col .rt-track-title,
.track-name,
.mch-title {
    flex: 1 1 38%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#middle-col .rt-track-artist,
.track-artist,
.mch-artist {
    flex: 1 1 28%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#middle-col .rt-track-album,
.track-album,
.mch-album {
    flex: 1 1 28%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#middle-col .rt-track .track-spacer,
.track-spacer {
    display: block;
    flex: 1 1 3%;
}

#middle-col .track {
    background-color: #F8F8F8;
}

#right-col .rt-track-preview {
    flex: 0 0 34px;
    margin-top: 3px;
    margin-bottom: 3px;

    background: linear-gradient(to left, white 50%, #CFC2DF 50%);
    background-size: 200% 100%;
    background-position:right;
    transition:all 1s ease;
    border-radius: 140px;
}

#right-col .previewing {
    background-position:left;
    transition: all 30s linear;
}

.rt-track-preview img {
    height: 14px;
    width: 14px;
    padding-left: 12px;
    padding-right: 8px;
    padding-bottom: 2px;
}

#right-col .rt-track {
    display: flex;
}

#right-col .rt-track-preview-spacer {
    flex: 0 0 10px;
}

#right-col .rt-track-title {
    flex: 1 1;
}
/* Right Column Styling */

#right-col {
    background-color: white;
}

#right-col-header {
    display:inline;
    height: 26px;
    line-height: 26px;
    border-bottom: 1px dashed #999999;
    margin-bottom: 4px;
    margin-left: 10px;
}

#right-col-header:hover {
    cursor: default;
}

#right-col-header div {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
}

#right-col-header div.selected {
    color: #5f3596;
    font-weight: 900;
}

#right-col-header div:hover {
    color: black;
    cursor: pointer;
}

.icon-container {
    position: absolute;
    right: 10px;
    top: 5px;
}

.track-icon {
    height: 20px;
    width: 20px;
    border-radius: 140px;
}

.rt-container {
    display: flex;
    height: 150px;
    line-height: 150px;
    border-bottom: 1px solid #999999;
    margin-left: 10px;
    margin-right: 10px;
}

.rt-container:hover {
    cursor: default;
}

.rt-album-img {
    flex: 0 0 140px;
    height: 140px;
    background-position: center;
    background-size: cover;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.rt-artist-container {
    flex: 1 1;
}

.rt-artist-text {
    font-weight: bold;
}

.rt-artist {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    position: relative;
}

.rt-track {
    height: 40px;
    line-height: 40px;
    position: relative;
}

.rt-track-album {
    display: none;
}

.rt-track-artist {
    display: none;
}

.rt-track .track-spacer {
    display: none;
}

#middle-col .icon-container {
    display: none;
}

#middle-col .rt-track-preview {
    display: none;
}

.rt-track-1 {
    border-bottom: 1px solid #999999;
}

/* Footer Styling */
#footer {
    height: 64px;
    width:100%;
    background-color: #5f3596;
    transition: all .6s ease;
    position: relative;
}

#footer.hidden {
    height: 0;
}

.track-controller-container {
    position: absolute;
    width: 600px;
    height: 64px;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -300px;
}

#tc-play-button {
    height: 36px;
    width: 36px;
    border-radius: 36px;
    border: 1px solid white;
    background-image: url("../../static/images/play_white.png");
    background-color: #5f3596;
    background-size: contain;
    margin: 13px 16px;
    display: inline-block;
}

#seek-bar {
    width: 526px;
    margin-left: 76px;
    position: absolute;
    top: 0;
}

#seek-container {
    width: 526px;
    height: 64px;
}

.tc-volume-container {
    position: absolute;
    right: 16px;
    width: 132px;
    height: 64px;
    top: 50%;
    margin: -32px 0 0 0;
}

.tc-volume-img {
    height: 22px;
    width: 22px;
    background-color: blue;
    margin-top: 21px;
    margin-bottom: 21px;
}

#volume-bar {
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

#volume-container {
    width: 100px;
    height: 64px;
}

/* Dragula Styling */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    padding: 1em;
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.gu-mirror {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
