.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #25172D;
    overflow-y: scroll;
}

.playlist-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 200px;
    height: 230px;
    margin: 20px;
    background-color: #000000;
    transition: all 0.5s ease;
}

.playlist-container:hover {
    width: 210px;
    height: 240px;
    margin: 15px;
}

/* Playlist image and overlay holder */
.playlist-img-holder {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #000000;
    transition: all 0.5s ease;
}

.playlist-container:hover .playlist-img-holder {
    width: 210px;
    height: 210px;
}

/* Playlist image */
.playlist-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
}

.playlist-container:hover .playlist-img {
    opacity: 0.2;
}

/* Playlist overlay */
.playlist-overlay {
    position: absolute;
    width: 190px;
    padding: 5px;
    opacity: 0.0;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    transition: top 0.5s ease, opacity 0.5s ease, margin-left 0.5s ease;
}

.playlist-container:hover .playlist-overlay {
    margin-left: 5px;
    opacity: 1.0;
}

.playlist-overlay-name {
    height: 30px;
    top: 1px;
}

.playlist-container:hover .playlist-overlay-name {
    top: 40px;
}

.playlist-overlay-owner {
    height: 30px;
    top: 1px;
}

.playlist-container:hover .playlist-overlay-owner {
    top: 70px;
}

.playlist-overlay-a {
    height: 25px;
    top: 1px;
}

.playlist-container:hover .playlist-overlay-a {
    top: 130px;
}

.playlist-overlay-b {
    height: 25px;
    top: 1px;
}

.playlist-container:hover .playlist-overlay-b {
    top: 165px;
}

/* Playlist footer */
.playlist-footer {
    width: 190px;
    height: 20px;
    padding: 5px;
    background-color: #25172D;
    color: #EEEEEE;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease;
}

.playlist-container:hover .playlist-footer {
    width: 190px;
    padding-right: 15px;
}