<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/images/snoo.png"/>
    {% block scripts %}{% endblock %}
    {% block stylesheet %}{% endblock %}
    {% block title %}{% endblock %}
</head>
<body>
  <div class="wrapper">
      <div class="header">
          {% block headerContent %}{% endblock %}
      </div>
      <div class="main-content">
          {% block content %}{% endblock %}
      </div>
  </div>

</body>
</html>

