{% macro addHeaderContent(selected) %}
        <a href="/"><img id="header-icon" src="/static/images/snoo.png"/></a>
        <div class="header-link-container">
            <div class='header-link-item {% if selected=='home' %}header-selected{% endif %}'>
                <a class='header-link' href="/">Home</a>
            </div>
            <div class='header-link-item {% if selected=='ltt' %}header-selected{% endif %}'>
                <a class='header-link' href="/ltt">ltt</a>
            </div>
            <div class='header-link-item {% if selected=='playlists' %}header-selected{% endif %}'>
                <a class='header-link' href="/playlists">playlists</a>
            </div>
            <div class='header-link-item {% if selected=='history' %}header-selected{% endif %}'>
                <a class='header-link' href="/history">history</a>
            </div>
        </div>

{%- endmacro %}