{% macro addHeaderContent(selected) %}
    {% if selected=="home" %}
        <a href="/" class="selected">Home</a>
        <a href="/ltt" class="selected">ltt</a>
        <a href="/playlist" class="selected">playlists</a>
        <a href="/history" class="selected">history</a>
    {% else %}
        <div class="header-link-container">
            <div class='header-link' href="/">Home</div>
            <div class='header-link' href="/ltt">ltt</div>
            <div class='header-link' href="/playlist">playlists</div>
            <div class='header-link' href="/history">history</div>
        </div>
    {% endif %}
{%- endmacro %}