{% extends 'base.html' %}
{% import 'headerContent.html' as hc %}
{% block title %}
    <title>ltt-to-spotify: ltt</title>
    <meta name="description" content="Adding functionality between r/listentothis and Spotify">
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/ltt_style.css" />
{% endblock %}
{% block headerContent %}
    {{ hc.addHeaderContent("ltt") }}
{% endblock %}

{% block content %}
    <div class="left">
        <ul>
        {% for playlist in playlists %}
            <li {% if playlist["id"] == selected["id"] %} class="selected"{% endif %}>
                {{ playlist["name"] }}
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="middle">
        <ul>
        {% for track in selected["tracks"]["items"] %}
            <li>{{ track["track"]["artists"][0]["name"] }} -- {{ track["track"]["name"] }} -- {{ track["track"]["album"]["name"] }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="right">
        <ul>
        {% for entry in songList %}
            <li><a href="{{ entry["url"] }}">{{ entry["artist"] }} -- {{ entry["title"] }} [{{ entry["genre"] }}] {% if "year" in entry %}({{ entry["year"]}}){% endif %} </a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}