{% extends base.html %}
{% import 'headerContents.html' as hc %}
{% block title %}
    <title>ltt-to-spotify: ltt</title>
    <meta name="description" content="Adding functionality between r/listentothis and Spotify">
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/ltt_style.css" />
{% endblock %}
{% block headerContent %}
    {{ hc.addHeaderContent("ltt") }}
{% endblock %}

{% block content %}
    <div class="left"></div>
    <div class="right"></div>
{% endblock %}