{% extends 'base.html' %}
{% import 'headerContent.html' as hc %}
{% block title %}
    <title>ltt-to-spotify: playlists</title>
    <meta name="description" content="Adding functionality between r/listentothis and Spotify">
{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
    <script src="/static/min/lscache.min.js" defer></script>
    <script src='/static/javascript/playlist.js' defer></script>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/playlist.css" />
{% endblock %}
{% block headerContent %}
    {{ hc.addHeaderContent("playlists") }}
{% endblock %}

{% block content %}
    {% for playlist in playlists %}
    <a class="playlist-link" href="/playlist?playlistId={{ playlist['id'] }}&ownerId={{ playlist['owner']['id'] }}">
      {% if 'totalLength' in playlist %}
        <div class="playlist-container" id="{{ playlist['id'] }}" data-owner-id="{{ playlist['owner']['id'] }}">
      {% else %}
        <div class="playlist-container incomplete" id="{{ playlist['id'] }}" data-owner-id="{{ playlist['owner']['id'] }}">
      {% endif %}
            <div class="playlist-img-holder">
                <div class="playlist-img"  style="background-image:url('{{ playlist['images'][0]['url'] }}')"></div>
                <div class="playlist-overlay playlist-overlay-name">{{ playlist['name'] }}</div>
                <div class="playlist-overlay playlist-overlay-owner">{{ playlist['owner']['name'] }}</div>
                <div class="playlist-overlay playlist-overlay-a">
                    <div class="overlay-container">
                        <div id="overlay-tracks" class="overlay-container-icon"></div>
                        <div class="overlay-container-text overlay-tracks-text">{{ playlist['tracks']['total'] }}</div>
                    </div>
                    <div class="overlay-container">
                        <div id="overlay-followers" class="overlay-container-icon"></div>
                        <div class="overlay-container-text overlay-followers-text">
                        {% if 'followers' in playlist %}
                            {% if playlist['owner']['id'] == userId %}
                                {{ playlist['followers']['total'] + 1 }}
                            {% else %}
                                {{ playlist['followers']['total'] }}
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="playlist-overlay playlist-overlay-b">
                    <div id="overlay-duration" class="overlay-container-icon"></div>
                    <div class="overlay-container-text overlay-length-text">
                    {% if 'totalLength' in playlist %}
                        {{ playlist['totalLength'] }}
                    {% else %}
                        -
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="playlist-footer">{{ playlist['name'] }}</div>
        </div>
    </a>
    {% endfor %}
{% endblock %}